<body-title text="Configure Transform Table"></body-title>

<div class="col-lg-12 p-0">
    <app-tabhead text="Transform Table"></app-tabhead>
    <div class="config-body" id="transform-table">
        <app-buttonbar [createpath]="createpath" [editpath]="editpath" [deletepath]="deletepath"
                       [selectedId]="selectedId"
                       [buttonClass]="buttonDisabledClass"
                       (searchBoxData)="search($event)"></app-buttonbar>

        <router-outlet></router-outlet>

        <div class="p-3">
            <data-list [columnsList]="columnsList"
                       [datas]="tableData"
                       [table_loader]="table_loader"
                       [pagination]="pagination"
                       [filterField]="filterField"
                       (sortOrder)="sortEvent($event)"
                       (selectedRow)="rowClick($event)"
                       (page)="pageNumber($event)"
                       [filterText]="subText"></data-list>
        </div>

    </div>
</div>






