.card-header {
    padding: 5px 10px !important;
    font-weight: 500;
    color: #4e516f;
} 

.loader{
    position: absolute;
    right: 0px;
    top: 0px;
}

.loading-select{
    -webkit-appearance: none;
    -moz-appearance: none;
}

.loading-select::-ms-expand {
    display: none;
}