.sidenav {
    background: #ededed;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.sidenav .nav-item .nav-link.active {
    width:100%;
    color: #7d6767;
    background: white;
    font-weight:600;
}

.sidenav .nav-item .nav-link {
    padding: 3px 3px 3px 10px !important;
    color:#868686;
}

:host{
    display: flex;
}