<body-title text="Manage Installed Trigger"></body-title>
<div class="col-lg-12 p-0">
    <div class="tbl-up-gap" >
        <app-buttonbar-installed-trigger [buttonDisabledClass]="buttonDisabledClass" [rebuildOrDrop]="rebuildOrDrop"
                                         [selectedID]="selectedId"
                                         (searchBoxData)="search($event)"
                                         (table_loader)="Loading($event)"
                                         (refreshData)="refreshData($event)"
                                         (symTriggers)="setShowSymTriggers($event)"></app-buttonbar-installed-trigger>
    </div>


    <div id="installed-trigger">
        <data-list [columnsList]="columnsList"
                   [table_loader]="table_loader"
                   [pagination]="pagination"
                   [mode]="mode"
                   [datas]="installedTriggerData"
                   [filterField]="filterField"
                   (manageRowSelectedId)="totalSelectedTables($event)"
                   (sortOrder)="sortEvent($event)"
                   (page)="pageNumber($event)"
                   [filterText]="subText"></data-list>
    </div>
</div>